*{
  padding: 0;
  margin: 0;
  font-family: 'Cerebri Sans', sans-serif;
}



.bg-img {
  background-image: url('assets/about.jpg');
  /* filter: brightness(0.7); */
  width: 100vw;
  height: 60vh;
  background-size: cover;
  background-position-y: top;
}

.txt-header {
  width:100%;
}

.img-sep {
  width: 100px;
  height: 100px;
}

.img-sep-2 {
  width: 70px;
  height: 70px;
}

.section-quote {
  background-color: #fff7e4;
}

.section-subs {
  background-color: #344c2c;
}

footer {
  background-color: #d2e0b6;
}

.header-bg {
  width: 40%;
}

.form-faq {
  padding: 50px;
  background-color: #d2e0b6;
  border-radius: 15px;
  box-shadow: rgba(60, 112, 17, 0.158) 0px 4px 12px;
}

.title-cont {
  font-family: 'Hakuna Sans', sans-serif;
  letter-spacing: 0.2rem;
}
