*{
  padding: 0;
  margin: 0;
  font-family: 'Cerebri Sans', sans-serif;
}

.btnlike{
  background: transparent;
  border: none;
  cursor: pointer;
  color: grey;
  font-size: large;
}

.btn-like {
  transition: all 0.39s ease;
  /* transform: scale(0.96); */
}

.btn-like:active {
  transform: scale(0.15);
}

.bg-img {
  background-image: url('assets/header2.jpg');
  /* filter: brightness(0.7); */
  width: 100vw;
  height: 60vh;
  background-size: cover;
}

.txt-header {
  width:100%;
}

.img-sep {
  width: 100px;
  height: 100px;
}

.img-sep-2 {
  width: 70px;
  height: 70px;
}

.section-quote {
  background-color: #fff7e4;
}

.section-subs {
  background-color: #344c2c;
}

footer {
  background-color: #d2e0b6;
}
.card-piece {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.piece-title {
  font-family: 'Hakuna Sans', sans-serif;
}

.piece-pg {
  font-family: 'Cerebri Sans', sans-serif;
}

.header-bg {
  width: 40%;
}

.bg-sale {
  background-image: url('assets/headertest.jpg');
  /* filter: brightness(0.7); */
  width: 100vw;
  height: 60vh;
  background-size: cover;
}

.txt-title {
  font-size: 3.5rem;
}
.txt-date {
  letter-spacing: 0.2rem;
  font-size: 0.6rem;
}