* {
  margin: 0;
  padding: 0;
  font-family: 'Cerebri Sans', sans-serif;
}

.navbar-brand {
  font-family: 'Chentalle', sans-serif;
  letter-spacing: 4px;
  font-weight: normal;
}

.header {
  background-image: url('assets/services.jpg');
  height: 40vh;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y:top;
}

.content {
  background-color: #F9F5F3;
}